.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .container .logo {
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.footer__logo--color {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.container-address {
  margin-right: 70px;
}

.address {
  font-style: normal;
}

.address__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;

  margin-bottom: 10px;
}

.address__item {
  margin-bottom: 10px;
  &:last-child {
    margin: 0;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}

.sub {
  margin-left: 93px;
}

.sub__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.btn__input {
  display: flex;
}

.sub input {
  width: 358px;
  padding: 10px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  border-radius: 4px;

  margin-right: 12px;
}

.sub__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
